openapi: 3.1.0
info:
  title: Coverage Cat Delegated Insurance Purchase APIs
  version: 1.0.0
  x-skill-version: 1.0.0
  description: >
    Delegated-agent APIs for Coverage Cat purchase workflows and read-only
    insurance tools. Umbrella delegated purchase is a consent-first,
    one-review-page flow: the operator-side agent fills the application from
    allowed context, Coverage Cat returns estimated-field metadata, and the
    human only reviews or corrects the final JSON plus credit consent.
    Homeowners delegated purchase is a near-single-endpoint operator flow:
    gather the fullest approved-context application first, mark non-user-
    confirmed home values with `field_estimates`, hold back
    `credit_check_authorized` until the real homeowner has reviewed the
    assembled application and explicitly consented to a soft credit pull,
    then let Coverage Cat submit and quote the intake asynchronously and
    route the homeowner back through portal review for any remaining
    estimated home answers before final bind. Coverage Cat also exposes a
    first-party follow-up API at `/api/intake/{uid}/issues` and
    `PATCH /api/intake/{uid}` for consumer-prefill umbrella and homeowners
    runtimes that already have an intake bearer token; use
    `confirm_submission: true` on the single final review turn to submit.
servers:
  - url: https://www.coveragecat.com
    description: Production
  - url: http://localhost:4000
    description: Local development

components:
  securitySchemes:
    agent_api_key:
      type: http
      scheme: bearer
  schemas:
    DraftRequest:
      type: object
      additionalProperties: false
      properties:
        uid:
          type: string
          description: Existing delegated umbrella session identifier. Omit to create a new one.
        sandbox:
          type: boolean
          description: >
            Optional mocked-mode flag for delegated umbrella testing. Set this
            to true only when creating a brand-new delegated umbrella session.
            The sandbox flag sticks to that `uid`, reuses the real
            draft/review validation loop, returns mocked quote responses, and
            does not send live customer emails or carrier traffic.
        intake:
          type: object
          description: >
            Partial umbrella intake patch. Prefer sending the fullest
            context-backed application you can assemble from CRM, email
            threads, document drives, OCR'd policy files, and prior Coverage
            Cat sessions. Send only changed fields on follow-up calls instead
            of resubmitting the full application. Accepted aliases:
            `birthday -> age`, `spouse_birthday -> spouse_age`,
            `approximate_asset_value -> net_worth_numeric`. Send birthdays as
            ISO dates, not raw integer ages. Common keys include
            `full_name`, `email`, `phone_number`, `age`, `marital_status`,
            `license_status`, `license_state`, `license_number`, `address`,
            `occupation`, `line_of_work`, `net_worth_numeric`,
            `additional_drivers`, `household_members`,
            `auto_has_insurance`, `coverage_e_for_residences`,
            `has_citizens_home_coverage`, and `umbrella_details`.
          additionalProperties: true
        field_estimates:
          type: array
          description: >
            Optional provenance rows for non-user-confirmed answers you
            included in the same `intake` payload, including values sourced
            from CRM, documents, email threads, or heuristics. Omit this only
            for values the human has directly confirmed. Coverage Cat may also
            add its own `historical_mode` estimates when it safely auto-prefills
            common umbrella defaults.
          items:
            $ref: '#/components/schemas/UmbrellaFieldEstimateInput'
    UmbrellaFieldEstimateInput:
      type: object
      additionalProperties: false
      required: [field, source, confidence]
      description: >
        Metadata for one umbrella answer in the draft request whose current
        value is not directly user-confirmed yet. The actual value still comes
        from the `intake` patch at the same field path.
      properties:
        field:
          type: string
          description: >
            Intake dot-path for the inferred answer, such as
            `marital_status`, `address.zip`, or
            `additional_drivers.0.license_state`.
        source:
          type: string
          description: >
            Opaque operator-side provenance label such as `crm`,
            `email_thread`, `policy_declarations`, or `historical_mode`.
        confidence:
          type: string
          enum: [low, medium, high]
    UmbrellaFieldEstimate:
      type: object
      description: >
        One umbrella field whose current value is still estimated rather than
        directly user-confirmed. Use `review_path` to mark the same value in
        the `review` JSON when rendering the single consent-plus-review page.
      properties:
        field:
          type: string
          description: Intake dot-path for the estimated answer.
        review_path:
          type: array
          items:
            type: string
          description: Path to the same value inside the `review` object.
        value:
          type: string
          description: Current serialized intake value for the estimated field.
        source:
          type: string
          description: Provenance label for the estimate.
        confidence:
          type: string
          enum: [low, medium, high]
        confirmed_by_user:
          type: boolean
          description: Whether a later draft update re-sent the same value as a confirmed answer.
        estimated_at:
          type: string
          format: date-time
    UmbrellaPendingField:
      type: object
      properties:
        number:
          type: integer
        field:
          type: string
        label:
          type: string
        estimated:
          type: boolean
          description: Whether `suggested_values` currently includes a fallback prior for this field.
    AgentKeyRequest:
      type: object
      additionalProperties: false
      required: [email]
      properties:
        email:
          type: string
          format: email
    AgentKeyConfirmRequest:
      type: object
      additionalProperties: false
      required: [email, otp]
      properties:
        email:
          type: string
          format: email
        otp:
          type: string
          description: 6-digit confirmation code emailed to the operator.
        code:
          type: string
          deprecated: true
          description: Legacy alias for `otp`. New integrations should send `otp`.
        organization_name:
          type: string
        referral_source_name:
          type: string
          description: Customer-facing partner or referral-source name used in delegated-homeowners emails.
        contact_name:
          type: string
        assistant_email:
          type: string
          format: email
          description: Optional mailbox to CC on the same customer-facing emails Coverage Cat sends during delegated umbrella checkout. This supplements, but does not replace, polling `status`.
        use_case_description:
          type: string
    AgentKeyResponse:
      type: object
      properties:
        status:
          type: string
        api_key:
          type: string
        key_prefix:
          type: string
        expires_at:
          type: string
          format: date-time
        message:
          type: string
    QuestionField:
      type: object
      properties:
        path:
          type: array
          items:
            type: string
        label:
          type: string
        type:
          type: string
        description:
          type: string
        enum:
          type: array
          items: {}
        format:
          type: string
    NextQuestion:
      type: object
      properties:
        title:
          type: string
        prompt:
          type: string
        schema:
          type: object
          additionalProperties: true
        fields:
          type: array
          items:
            $ref: '#/components/schemas/QuestionField'
        scope:
          type: string
        item_index:
          type:
            - integer
            - "null"
        display_note:
          type: string
    DraftResponse:
      type: object
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: True when this delegated umbrella session is running in mocked sandbox mode.
        status:
          type: string
          enum: [needs_more_info, ready_for_review, ineligible]
        response_summary:
          type: string
        known_summary:
          type: object
          description: >
            Current delegated umbrella application summary. This may include
            PII such as applicant name, email, phone number, and address; do
            not treat it as safe-to-log telemetry.
          additionalProperties: true
        pending_fields:
          type: array
          description: >
            Only present while Coverage Cat still needs more data before a
            final review page can be shown. Use this behind the scenes with
            operator-side context search; the intended UX is that the human
            only sees `ready_for_review`.
          items:
            $ref: '#/components/schemas/UmbrellaPendingField'
        suggested_values:
          type: object
          description: >
            Historical-mode fallback priors for unresolved fields. Treat these
            as hints for operator-side enrichment, not as substitutes for
            actual user or document-backed answers.
          additionalProperties: true
        next_question:
          $ref: '#/components/schemas/NextQuestion'
        review:
          type: object
          description: >
            Full review JSON to render only when `status` is
            `ready_for_review`. Show the `credit_consent_question` prominently
            first, then render this JSON below it and visually mark every
            `field_estimates[].review_path` entry as estimated.
          additionalProperties: true
        review_token:
          type: string
          description: Token bound to the latest review JSON. Refresh it after every draft edit before calling quotes.
        credit_consent_question:
          type: string
          description: >
            Blocking consent prompt to render at the top of the single review
            page. The real user must personally answer Yes before quotes can be
            requested.
        field_estimates:
          type: array
          items:
            $ref: '#/components/schemas/UmbrellaFieldEstimate'
        agent_instructions:
          type: array
          items:
            type: string
    QuoteRequest:
      type: object
      additionalProperties: false
      required:
        - uid
        - review_token
        - review_confirmed
        - credit_consent
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: >
            Optional mocked-mode flag. Once a delegated umbrella session is
            created with `sandbox: true`, later `quotes` and `status` calls
            may omit it because the uid stays sandbox-scoped.
        review_token:
          type: string
          description: Token returned from the latest ready_for_review draft response.
        review_confirmed:
          type: boolean
          const: true
        credit_consent:
          type: object
          additionalProperties: false
          required:
            - answer
            - collected_from_user
          properties:
            answer:
              type: string
              description: Must be the real user's answer. Only Yes is accepted.
              enum: [Yes]
            collected_from_user:
              type: boolean
              const: true
    AgentOffer:
      type: object
      properties:
        selection_token:
          type: string
        carrier:
          type: string
        annual_price:
          type: integer
        coverage_limit:
          type: string
        is_estimate:
          type: boolean
        price_range:
          type:
            - object
            - "null"
          properties:
            low:
              type: integer
            high:
              type: integer
        recommended:
          type: boolean
        rank:
          type: integer
        display_notes:
          type: array
          items:
            type: string
        choice_guidance:
          type: string
    OfferSnapshot:
      type: object
      properties:
        carrier:
          type: string
        annual_price:
          type: integer
        coverage_limit:
          type: string
        is_estimate:
          type: boolean
        price_range:
          type:
            - object
            - "null"
          properties:
            low:
              type: integer
            high:
              type: integer
    QuoteResponse:
      type: object
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: True when the offer response is mocked sandbox data.
        status:
          type: string
          enum: [quoted, no_quotes]
        response_summary:
          type: string
        compare_details_url:
          type: string
          format: uri
        offers:
          type: array
          items:
            $ref: '#/components/schemas/AgentOffer'
        selection_guidance:
          type: object
          properties:
            default_selection_token:
              type: string
            summary:
              type: string
            display_note:
              type: string
        field_estimates:
          type: array
          description: >
            The estimated-field state that was present on the reviewed
            application. Use it to keep CRM estimate badges aligned with the
            review page the user approved.
          items:
            $ref: '#/components/schemas/UmbrellaFieldEstimate'
        agent_instructions:
          type: array
          items:
            type: string
    SelectRequest:
      type: object
      additionalProperties: false
      required:
        - uid
        - selection_token
        - selection_confirmed
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: >
            Optional sticky sandbox flag. Sandbox delegated umbrella sessions
            currently reject `select` with `sandbox_unsupported`; this field is
            accepted so a client carrying the same request envelope does not
            fail schema validation first.
        selection_token:
          type: string
        selection_confirmed:
          type: boolean
          const: true
    FallbackStep:
      type: object
      properties:
        type:
          type: string
          enum: [dashboard]
        url:
          type: string
          format: uri
        display_note:
          type: string
    NextAction:
      type: object
      properties:
        type:
          type: string
          enum: [bind]
        display_note:
          type: string
    SelectResponse:
      type: object
      properties:
        uid:
          type: string
        status:
          type: string
          enum:
            [needs_more_info_to_bind, documents_needed, documents_pending_review, payment_needed, chosen]
        response_summary:
          type: string
        offers_url:
          type: string
          format: uri
          description: Secure link to the Coverage Cat offers page for this delegated session.
        payment_url:
          type: string
          format: uri
          description: Secure payment-setup link, returned only when Coverage Cat is ready to collect payment.
        selected_offer:
          $ref: '#/components/schemas/OfferSnapshot'
        next_question:
          $ref: '#/components/schemas/NextQuestion'
        required_upload_types:
          type: array
          items:
            type: string
            enum: [declarations, auto_declarations]
        post_choose:
          type: object
          additionalProperties: true
        agent_instructions:
          type: array
          items:
            type: string
    BindRequest:
      type: object
      additionalProperties: false
      required:
        - uid
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: >
            Optional sticky sandbox flag. Sandbox delegated umbrella sessions
            currently reject `bind` with `sandbox_unsupported`; this field is
            accepted so a client carrying the same request envelope does not
            fail schema validation first.
        intake:
          type: object
          description: >
            Minimal patch answering only the fields from the current bind-stage
            `next_question`. Do not send quote-affecting changes here.
          additionalProperties: true
    BindResponse:
      type: object
      properties:
        uid:
          type: string
        status:
          type: string
          enum:
            [
              needs_more_info_to_bind,
              ready_to_finalize,
              documents_needed,
              documents_pending_review,
              payment_needed,
              chosen
            ]
        response_summary:
          type: string
        offers_url:
          type: string
          format: uri
          description: Secure link to the Coverage Cat offers page for this delegated session.
        payment_url:
          type: string
          format: uri
          description: Secure payment-setup link, returned only when Coverage Cat is ready to collect payment.
        selected_offer:
          $ref: '#/components/schemas/OfferSnapshot'
        next_question:
          $ref: '#/components/schemas/NextQuestion'
        next_action:
          $ref: '#/components/schemas/NextAction'
        required_upload_types:
          type: array
          items:
            type: string
            enum: [declarations, auto_declarations]
        post_choose:
          type: object
          additionalProperties: true
        agent_instructions:
          type: array
          items:
            type: string
    StatusResponse:
      type: object
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: True when this delegated umbrella status payload is mocked sandbox data.
        status:
          type: string
          enum:
            [
              ineligible,
              needs_more_info,
              ready_for_review,
              quoted,
              no_quotes,
              needs_more_info_to_bind,
              ready_to_finalize,
              documents_needed,
              documents_pending_review,
              payment_needed,
              waiting_on_carrier,
              info_requested,
              bound,
              blocked
            ]
        response_summary:
          type: string
        compare_details_url:
          type: string
          format: uri
        offers_url:
          type: string
          format: uri
          description: Secure link to the Coverage Cat offers page for this delegated session.
        payment_url:
          type: string
          format: uri
          description: Secure payment-setup link, returned only when Coverage Cat is ready to collect payment.
        known_summary:
          type: object
          description: >
            Current delegated umbrella application summary. This may include
            PII such as applicant name, email, phone number, and address; do
            not treat it as safe-to-log telemetry.
          additionalProperties: true
        review:
          type: object
          description: Review JSON for the latest ready-for-review state.
          additionalProperties: true
        review_token:
          type: string
        credit_consent_question:
          type: string
        field_estimates:
          type: array
          items:
            $ref: '#/components/schemas/UmbrellaFieldEstimate'
        selected_offer:
          $ref: '#/components/schemas/OfferSnapshot'
        next_question:
          $ref: '#/components/schemas/NextQuestion'
        next_action:
          $ref: '#/components/schemas/NextAction'
        required_upload_types:
          type: array
          items:
            type: string
            enum: [declarations, auto_declarations]
        fallback_step:
          $ref: '#/components/schemas/FallbackStep'
        offers:
          type: array
          items:
            $ref: '#/components/schemas/AgentOffer'
        selection_guidance:
          type: object
          additionalProperties: true
        post_choose:
          type: object
          additionalProperties: true
        policy:
          type: object
          additionalProperties: true
        poll_after_seconds:
          type: integer
        agent_instructions:
          type: array
          items:
            type: string
    HomeownersQuotesRequest:
      type: object
      additionalProperties: false
      properties:
        uid:
          type: string
          description: Existing delegated homeowners intake identifier. Omit to create a new intake.
        sandbox:
          type: boolean
          description: >
            Optional mocked-mode flag for delegated homeowners testing. Set
            this to true only when creating a brand-new delegated homeowners
            session. The sandbox flag sticks to that `uid`, reuses the real
            validation and one-time review/credit-consent checkpoint, skips
            live customer emails and carrier traffic, returns `pending_quotes`
            after the first successful submit, and returns mocked homeowners
            offers on a later poll of the same `uid`.
        intake:
          type: object
          description: >
            Partial homeowners intake patch containing the fullest currently
            known applicant and property facts you can assemble from approved
            operator-side context. For any non-user-confirmed home value you
            include under `intake.home[]`, also include a matching
            `intake.home[].field_estimates[]` row using the same object shape
            returned in responses. Those rows should mirror the current field
            value, carry an opaque provenance `source`, set
            `confirmed_by_user: false`, and include `estimated_at`; Coverage
            Cat will persist that value as an estimate and send the homeowner
            back through review before final bind in the consumer portal.
            Recommended submit pattern: omit or keep
            `credit_check_authorized` false until the real homeowner has
            reviewed the assembled application and explicitly consented to a
            soft credit pull that does not affect their credit score, then
            resend the same `uid` with `credit_check_authorized: true`. Do
            NOT derive homeowners dwelling replacement cost from purchase
            price or appraised value — that field must come from a
            Replacement Cost Estimator or be left for Coverage Cat's
            carrier-side estimator to fill. Do NOT send lender-side fields
            (note_rate, term_months, escrow flags); Coverage Cat prices
            homeowners premium directly and those inputs have no effect on
            the intake. Optional mortgage metadata such as
            `intake.home[].loans[].lender_name`, `loan_number`,
            `mortgagee_clause`, and `loan_effective_date` may be sent when
            available; partial loan rows are accepted. For enum/list fields, treat the `schema` and
            `missing_fields[].enum` returned by this endpoint as the
            authoritative allowed vocabulary for the current intake state.
          additionalProperties: true
    HomeownersFieldEstimate:
      type: object
      description: >
        One estimated answer on a homeowners intake, whether it came from
        operator-side context or Coverage Cat's own probe/estimator pass.
        These estimates can keep delegated quoting moving, but homeowners
        finalization still happens in Coverage Cat's consumer portal. If the
        operator's system later has a real user-confirmed value for the same
        field, resend it in the next intake payload and Coverage Cat will
        overwrite the estimate.
      properties:
        field:
          type: string
          description: Dot-path of the field on the intake (e.g. `property_type`).
        value:
          description: Estimated value. Type matches the underlying intake field.
        source:
          type: string
          description: >
            Opaque provenance label for the estimate. Common operator-side
            labels include `crm`, `email_thread`,
            `policy_declarations`, and `prior_coverage_cat_session`;
            Coverage Cat-generated labels include `loan_file`, `zillow`,
            `realtor`, `vintage_rule`, and `zdr_openai`. Treat unknown values
            as opaque; new sources may be added over time.
        confidence:
          type: string
          enum: [low, medium, high]
          description: >
            Coverage Cat's internal confidence, not carrier acceptance risk.
            Prioritize confirming `low` confidence estimates with the
            customer before binding.
        confirmed_by_user:
          type: boolean
          description: >
            Whether a human has re-sent this field as a confirmed answer on
            a subsequent update, whether from the delegated operator payload
            or the homeowner reviewing the pre-filled value in Coverage Cat's
            portal.
        estimated_at:
          type: string
          format: date-time
    HomeownersMissingField:
      type: object
      properties:
        path:
          type: array
          items:
            type: string
        field:
          type: string
        label:
          type: string
        message:
          type: string
        description:
          type: string
        type:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
        enum:
          type: array
          items: {}
        format:
          type: string
    HomeownersOfferSummary:
      type: object
      properties:
        carrier:
          type: string
        annual_price:
          type: number
        coverage_summary:
          type: string
        policy_subtype:
          type: string
        policy_subtype_display:
          type: string
        property_id:
          type: string
          description: Stable per operator plus normalized property address; reuse it as a property correlation key, not an intake-row identifier.
        dwelling_coverage:
          type: number
          description: >
            Coverage A / replacement cost as priced by the carrier. Derived from a
            Replacement Cost Estimator, not from purchase price or appraised
            value; do not substitute either of those in operator-side displays.
        personal_liability:
          type: number
        deductible:
          type: number
        address:
          type: object
          additionalProperties: true
        quote_number:
          type: string
        recommended:
          type: boolean
        is_estimate:
          type: boolean
    HomeownersQuotesResponse:
      type: object
      properties:
        uid:
          type: string
        sandbox:
          type: boolean
          description: True when this delegated homeowners response is mocked sandbox data.
        status:
          type: string
          enum: [needs_more_info, pending_quotes, quoted]
        response_summary:
          type: string
        known_summary:
          type: object
          description: >
            Current delegated homeowners intake summary. This may include PII
            such as applicant name, applicant email, and full insured-property
            addresses. It may also include a `homes[].field_estimates[]` array
            per home listing values that were estimated by either the operator
            or Coverage Cat. Delegated quoting may proceed with these
            estimates, but unconfirmed estimated home fields are sent back
            through the homeowner review flow before final bind completes in
            Coverage Cat's consumer portal. Do not treat this object as
            safe-to-log telemetry.
          additionalProperties: true
        missing_fields:
          type: array
          items:
            $ref: '#/components/schemas/HomeownersMissingField'
        schema:
          type: object
          additionalProperties: true
        offers:
          type: array
          items:
            $ref: '#/components/schemas/HomeownersOfferSummary'
        offers_page_url:
          type: string
          format: uri
          description: Backwards-compatible alias for `homeowner_portal_url`.
          deprecated: true
        homeowner_portal_url:
          type: string
          format: uri
          deprecated: true
          description: >
            Secure Coverage Cat consumer portal link for this intake. The
            homeowner uses this portal to review details, choose an offer,
            confirm any estimated home answers, and complete final bind.
            Treat this as a sensitive direct session link; if you need a
            safer pass-through URL, use `homeowner_quotes_request_login_url`.
        operator_dashboard_url:
          type: string
          format: uri
          description: Short-lived browser login link for the operator homeowners dashboard, usually prefiltered to this intake UID.
        homeowner_quotes_request_login_url:
          type: string
          format: uri
          description: >
            Safe homeowner-facing sign-in request page for the offers view. Share
            this with the homeowner when you need them to reach their offers page
            without handing over an operator or direct OTP login link.
        homeowner_fix_issues_request_login_url:
          type: string
          format: uri
          description: >
            Safe homeowner-facing sign-in request page for the fix-issues flow.
            Coverage Cat returns this while the delegated intake still needs
            more information and you want the homeowner to complete those
            remaining items in Coverage Cat's GUI.
        agent_instructions:
          type: array
          items:
            type: string
    HomeownersPropertyStatusRow:
      type: object
      properties:
        property_id:
          type: string
          description: Stable per operator plus normalized property address; reuse it as a property correlation key, not an intake-row identifier.
        request_uid:
          type: string
        home_index:
          type: integer
        status:
          type: string
          enum: [needs_more_info, pending_quotes, quoted, quotes_published]
        status_summary:
          type: string
          description: Coarse operator-facing summary for the current status, without exact missing-field or offer counts.
        location:
          type: object
          additionalProperties: true
        property_type:
          type: string
        home_ownership:
          type: string
        new_purchase:
          type: boolean
        offers_published:
          type: boolean
          description: True once homeowners offers have been published to the homeowner's portal.
        field_estimates:
          type: array
          description: >
            Field-level estimates Coverage Cat filled for this property. See
            `HomeownersFieldEstimate` for handling rules. Estimated values
            keep quoting moving, but unconfirmed estimated home fields must
            still be reviewed in the homeowner portal before final bind.
          items:
            $ref: '#/components/schemas/HomeownersFieldEstimate'
        homeowner_quotes_request_login_url:
          type: string
          format: uri
          description: >
            Shareable homeowner sign-in request page for the offers view. The
            homeowner still has to request their own login link by email, so
            this URL does not sign the operator or agent into the homeowner's
            private quotes page.
        homeowner_fix_issues_request_login_url:
          type: string
          format: uri
          description: >
            Shareable homeowner sign-in request page for the fix-issues flow.
            Use this when the property is still in `needs_more_info` and the
            homeowner should complete the missing items in Coverage Cat's GUI.
        fix_issues_email_available:
          type: boolean
          description: >
            True when the operator may trigger Coverage Cat to send the
            homeowner a secure fix-issues email for this request UID.
        submitted_at:
          type: string
        updated_at:
          type: string
        inserted_at:
          type: string
        offers_page_available:
          type: boolean
    HomeownersDashboardResponse:
      type: object
      properties:
        generated_at:
          type: string
        operator_uid:
          type: string
        filters:
          type: object
          additionalProperties: true
        property_count:
          type: integer
        status_counts:
          type: object
          additionalProperties: true
        properties:
          type: array
          items:
            $ref: '#/components/schemas/HomeownersPropertyStatusRow'
    HomeownersFixIssuesEmailResponse:
      type: object
      properties:
        uid:
          type: string
        status:
          type: string
          enum: [email_sent]
        response_summary:
          type: string
        homeowner_fix_issues_request_login_url:
          type: string
          format: uri
          description: >
            Safe homeowner-facing sign-in request page for the same fix-issues
            flow Coverage Cat emailed. Share this only when you need a
            pass-through link in chat.
        operator_dashboard_url:
          type: string
          format: uri
          description: Short-lived browser login link for the operator homeowners dashboard, usually prefiltered to this intake UID.
        agent_instructions:
          type: array
          items:
            type: string
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          enum:
            - invalid_request
            - not_found
            - conflict
            - rate_limited
            - idempotency_conflict
            - stale_token
            - sandbox_unsupported
            - credit_consent_required
            - internal_error
          description: Stable machine-readable error code for workflow handling.
        message:
          type: string
          description: Human-readable explanation of the failure.
      additionalProperties: true
    CalculatorResponse:
      type: object
      description: Read-only calculator response. Shape varies by calculator.
      additionalProperties: true
    HomeCalculatorRequest:
      type: object
      additionalProperties: false
      required: [zip, home_sqft]
      properties:
        zip:
          type: string
          pattern: '^[0-9]{5}$'
        home_sqft:
          type: integer
          minimum: 1
          maximum: 25000
        risk_factors:
          type: array
          items:
            type: string
          description: Optional risk factor IDs returned by available_risk_factors.
    UmbrellaCalculatorRequest:
      type: object
      additionalProperties: false
      required: [zip]
      properties:
        zip:
          type: string
          pattern: '^[0-9]{5}$'
        property_count:
          type: integer
          default: 1
        auto_count:
          type: integer
          default: 1
        antique_vehicles:
          type: integer
          default: 0
        drivers_under_22:
          type: integer
          default: 0
        drivers_over_70:
          type: integer
          default: 0
        moving_violations:
          type: integer
          default: 0
        at_fault_accidents:
          type: integer
          default: 0
        large_watercraft:
          type: integer
          default: 0
        jet_skis:
          type: integer
          default: 0
        motorcycles:
          type: integer
          default: 0
    AutoCalculatorRequest:
      type: object
      additionalProperties: true
      properties:
        driver:
          type: object
          properties:
            age:
              type: integer
              default: 35
            gender:
              type: string
              default: N
            state:
              type: string
              default: CA
            zip:
              type: string
        vehicle:
          type: object
          properties:
            year:
              type: integer
            make:
              type: string
            model:
              type: string
            style:
              type: string
            submodel:
              type: string
        coverage:
          type: object
          properties:
            collision_deductible:
              type: integer
              default: 1000
            comprehensive_deductible:
              type: integer
              default: 1000
        repair_estimate:
          type: integer
          description: Used by the file-a-claim calculator.
    HomeownersAgentFinderRequest:
      type: object
      additionalProperties: false
      required: [zip, lines]
      properties:
        zip:
          type: string
          pattern: '^[0-9]{5}$'
        lines:
          type: array
          items:
            type: string
          description: Homeowners, dwelling_fire, condominium, renters, mobile_home, personal_lines, property_and_casualty, or surplus_lines.
        limit:
          type: integer
          default: 25

security:
  - agent_api_key: []

paths:
  /api/agent/key/request:
    post:
      security: []
      operationId: request_agent_operator_otp
      x-openai-isConsequential: false
      summary: Email a 6-digit operator confirmation code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentKeyRequest'
      responses:
        "200":
          description: Confirmation code sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentKeyResponse'
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Too many OTP requests for this email.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/key/confirm:
    post:
      security: []
      operationId: confirm_agent_operator_otp
      x-openai-isConsequential: false
      summary: Confirm the emailed code and receive a bearer token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentKeyConfirmRequest'
      responses:
        "200":
          description: Operator key issued or rotated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentKeyResponse'
        "400":
          description: Missing fields or invalid request shape.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Invalid or expired code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Registration details failed validation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Too many confirmation attempts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/key/rotate:
    post:
      operationId: rotate_agent_operator_key
      x-openai-isConsequential: false
      summary: Rotate the current operator-issued bearer token.
      responses:
        "200":
          description: Key rotated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentKeyResponse'
        "401":
          description: Missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Shared environment keys are not supported here.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/calculators/home:
    post:
      operationId: estimate_homeowners_insurance
      x-openai-isConsequential: false
      summary: Estimate homeowners insurance cost from ZIP, square footage, and risk factors.
      responses: &calculator_responses
        "200":
          description: Calculator result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatorResponse'
        "400":
          description: Invalid calculator input.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Calculator/tool request rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HomeCalculatorRequest'

  /api/agent/calculators/umbrella:
    post:
      operationId: estimate_umbrella_insurance
      x-openai-isConsequential: false
      summary: Estimate annual umbrella insurance cost by limit and risk profile.
      responses: *calculator_responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UmbrellaCalculatorRequest'

  /api/agent/calculators/auto-estimates:
    post:
      operationId: estimate_auto_insurance_by_carrier
      x-openai-isConsequential: false
      summary: Estimate monthly auto premiums by carrier.
      responses: *calculator_responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCalculatorRequest'

  /api/agent/calculators/collision-and-comprehensive-coverage:
    post:
      operationId: estimate_collision_and_comprehensive_coverage_value
      x-openai-isConsequential: false
      summary: Compare collision/comprehensive coverage scenarios.
      responses: *calculator_responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCalculatorRequest'

  /api/agent/calculators/file-a-claim:
    post:
      operationId: estimate_auto_claim_filing_cost
      x-openai-isConsequential: false
      summary: Estimate whether filing an auto claim is likely cheaper than paying out of pocket.
      responses: *calculator_responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoCalculatorRequest'

  /api/agent/tools/homeowners-agents/search:
    post:
      operationId: search_homeowners_agents
      x-openai-isConsequential: false
      summary: Search licensed homeowners agent records in California or Texas by ZIP and insurance lines.
      responses: *calculator_responses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HomeownersAgentFinderRequest'

  /api/agent/homeowners/quotes:
    post:
      operationId: quote_delegated_homeowners_application
      x-openai-isConsequential: true
      summary: Create, update, submit, or poll a delegated homeowners intake in a single operator-authenticated loop.
      description: >
        Use this endpoint as the primary operator-side enrichment loop for
        delegated homeowners purchase. Omit `uid` to create a new intake.
        Reuse the returned `uid` on every follow-up call. Start with the
        fullest intake patch you can assemble from approved operator-side
        context, and for any non-user-confirmed home value include matching
        `intake.home[].field_estimates` metadata. Hold back
        `credit_check_authorized` until the real homeowner has reviewed the
        assembled application and explicitly authorized a soft credit pull
        that does not affect their credit score. If the only remaining
        `missing_fields` entry is `credit_check_authorized`, render that
        one-time review step from your current application summary, then
        resend the same `uid` with `credit_check_authorized: true`. If
        `status` is `needs_more_info`, keep filling the returned
        `missing_fields` behind the scenes from your own systems first and
        only escalate to the human after approved context is exhausted. When
        Coverage Cat returns `homeowner_fix_issues_request_login_url`, share
        that safe sign-in request page if you want the homeowner to complete
        the remaining items in Coverage Cat's GUI. If `status` is
        `pending_quotes`,
        poll this same endpoint with the same `uid`. If `status` is `quoted`,
        summarize the returned offers and optionally share
        `homeowner_quotes_request_login_url`, where the homeowner can request
        their own login link before reviewing any unconfirmed estimated home
        answers and finishing bind in Coverage Cat's consumer portal. Set
        `sandbox: true` only on the first create call when you want mocked
        delegated homeowners test data instead of live customer email or
        carrier traffic.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HomeownersQuotesRequest'
      responses:
        "200":
          description: Current delegated homeowners state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeownersQuotesResponse'
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "400":
          description: Invalid intake patch or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The request used a shared key instead of an operator-issued key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated homeowners intake for this operator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Too many failed authentication attempts or delegated-agent requests. Honor the Retry-After header before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/homeowners/fix-issues-email:
    post:
      operationId: send_delegated_homeowners_fix_issues_email
      x-openai-isConsequential: true
      summary: Email the homeowner a secure sign-in link to the delegated homeowners fix-issues flow.
      description: >
        Use this when a delegated homeowners request is still in
        `needs_more_info` and you want Coverage Cat itself to email the
        homeowner a direct sign-in link to the remaining issues. The
        response also includes `homeowner_fix_issues_request_login_url`,
        which is the safer pass-through link if you need to continue the same
        handoff in chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [uid]
              properties:
                uid:
                  type: string
                  description: Delegated homeowners request UID.
      responses:
        "200":
          description: Coverage Cat queued the fix-issues email for this delegated homeowners intake.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeownersFixIssuesEmailResponse'
        "400":
          description: Invalid request, sandbox request, or no email/fix-issues route available yet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The request used a shared key instead of an operator-issued key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated homeowners intake for this operator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/homeowners/dashboard:
    get:
      operationId: list_delegated_homeowners_property_statuses
      x-openai-isConsequential: false
      summary: Read non-PII per-property status rows for outstanding delegated homeowners requests under the current operator key.
      parameters:
        - in: query
          name: uid
          schema:
            type: string
          description: Restrict results to a single delegated homeowners request UID.
        - in: query
          name: property_id
          schema:
            type: string
          description: Restrict results to a single non-PII property identifier returned by Coverage Cat.
        - in: query
          name: status
          schema:
            type: string
            enum: [needs_more_info, pending_quotes, quoted, quotes_published]
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: >
            Coarse non-PII delegated homeowners property statuses for this
            operator. This dashboard surface is intentionally less granular
            than the intake issue APIs: it does not list exact missing fields
            or exact offer counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeownersDashboardResponse'
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "400":
          description: Invalid filters were provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The request used a shared key instead of an operator-issued key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /api/agent/homeowners/dashboard/session:
    post:
      operationId: create_delegated_homeowners_dashboard_session
      x-openai-isConsequential: false
      summary: Mint a short-lived browser login link for the operator homeowners dashboard.
      parameters:
        - in: query
          name: uid
          schema:
            type: string
          description: Prefilter the browser dashboard to a single delegated homeowners request UID.
        - in: query
          name: property_id
          schema:
            type: string
          description: Prefilter the browser dashboard to a single non-PII property identifier returned by Coverage Cat.
        - in: query
          name: status
          schema:
            type: string
            enum: [needs_more_info, pending_quotes, quoted, quotes_published]
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: A short-lived browser dashboard URL for this operator.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dashboard_url:
                    type: string
                    format: uri
        "401":
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "400":
          description: Invalid filters were provided.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: The request used a shared key instead of an operator-issued key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Too many failed authentication attempts or delegated-agent requests. Honor the Retry-After header before retrying.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/umbrella/draft:
    post:
      operationId: prepare_delegated_umbrella_application
      x-openai-isConsequential: false
      summary: Create or update a delegated umbrella session, continue hidden enrichment, and return the single consent-plus-review page when ready.
      description: >
        Use this endpoint as the primary operator-side enrichment loop. Search
        allowed context sources first and send the fullest application you can,
        including `field_estimates` metadata for inferred values. If `status`
        is `needs_more_info`, keep working behind the scenes with
        `pending_fields`, `suggested_values`, and `next_question`; do not turn
        that state into a user questionnaire unless your product intentionally
        falls back to one. If you exhaust approved context and still cannot
        reach `ready_for_review`, stop and escalate rather than silently
        presenting a partial review page. If `status` is `ready_for_review`,
        render a single page with the `credit_consent_question` prominently
        first and the formatted `review` JSON directly below it, marking the
        `field_estimates` paths as estimated. Set `sandbox: true` only on the
        first create call when you want mocked delegated umbrella test data
        instead of live customer email or carrier traffic.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftRequest'
      responses:
        "200":
          description: Current delegated umbrella state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftResponse'
        "400":
          description: Invalid intake patch or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated umbrella session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/umbrella/quotes:
    post:
      operationId: quote_delegated_umbrella_application
      x-openai-isConsequential: true
      summary: Confirm the consent-plus-review page, capture explicit credit authorization, and return offers.
      description: >
        Only call this after the user has reviewed the latest review JSON,
        approved or corrected any estimated values, and personally answered Yes
        to the credit-consent question shown at the top of that page. If the
        review token is stale or the application changed, go back to the draft
        step and obtain a fresh review token. Once a session has moved into
        bind or post-select checkout, do not replay an old review token
        through this endpoint. Sandbox sessions return mocked quote data and
        stop at the `status` endpoint rather than continuing into select/bind.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
      responses:
        "200":
          description: Offers or a no-quotes response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteResponse'
        "400":
          description: Missing confirmation or malformed credit-consent payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated umbrella session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Review state is stale or more info is still required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/umbrella/select:
    post:
      operationId: select_delegated_umbrella_offer
      x-openai-isConsequential: true
      summary: Confirm the user's selection and start the chat-native bind continuation flow.
      description: >
        Pass the selected `selection_token` and a final user confirmation.
        Coverage Cat will either return the next bind-stage `next_question` to
        keep collecting required details in chat, or it will continue the
        standard post-choose workflow and tell the agent to keep polling
        `status` in chat. For Monoline and Markel, the post-choose workflow may
        require declarations upload and review before payment. Successful
        post-choose responses include `offers_url`, and may include
        `required_upload_types` or a secure `payment_url`. Sandbox delegated
        umbrella sessions reject this endpoint with `sandbox_unsupported`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelectRequest'
      responses:
        "200":
          description: Offer selection accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SelectResponse'
        "400":
          description: Invalid request or invalid selection token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated umbrella session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Offer selection is stale and the user must review fresh offers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/umbrella/bind:
    post:
      operationId: continue_delegated_umbrella_bind
      x-openai-isConsequential: true
      summary: Continue the selected-offer bind flow in chat until the offer is chosen and carrier follow-up takes over.
      description: >
        Use this after `select` returns `needs_more_info_to_bind`, or when
        `status` says `ready_to_finalize`. Send only the fields from the current
        bind-stage `next_question`. When all bind details are present, Coverage
        Cat will continue the normal choose flow and the agent should keep the
        user updated by polling `status`. Successful post-choose responses
        include `offers_url` for the secure Coverage Cat offers page, and for
        Monoline/Markel may also include declarations-upload or payment steps.
        Sandbox delegated umbrella sessions reject this endpoint with
        `sandbox_unsupported`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindRequest'
      responses:
        "200":
          description: Bind continuation state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindResponse'
        "400":
          description: Invalid bind patch or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated umbrella session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: No offer is pending bind continuation, or the bind state changed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/umbrella/attach:
    post:
      operationId: attach_document_to_umbrella_session
      x-openai-isConsequential: false
      summary: Attach a declarations page to the delegated umbrella session.
      description: >
        Accepts a base64-encoded document (PDF or image) and attaches it to the
        intake as a declarations page. Use type "declarations" for a home/renters
        declarations page and "auto_declarations" for an auto declarations page.
        Call this only after the user has selected a Monoline or Markel offer
        and the delegated session is in bind or post-select checkout. Sandbox
        delegated umbrella sessions reject this endpoint with
        `sandbox_unsupported`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - uid
                - content
                - filename
                - type
              properties:
                uid:
                  type: string
                sandbox:
                  type: boolean
                  description: >
                    Optional sticky sandbox flag. Sandbox delegated umbrella
                    sessions currently reject `attach` with
                    `sandbox_unsupported`; this field is accepted so a client
                    carrying the same request envelope does not fail schema
                    validation first.
                content:
                  type: string
                  format: byte
                  description: Base64-encoded file content (PDF or image).
                filename:
                  type: string
                  description: Original filename including extension (e.g. "home_dec.pdf").
                type:
                  type: string
                  enum: [declarations, auto_declarations]
                  description: >
                    "declarations" for a home or renters dec page;
                    "auto_declarations" for an auto dec page.
      responses:
        "200":
          description: Document attached successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  filename:
                    type: string
                    description: Server-assigned storage filename.
                  type:
                    type: string
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated umbrella session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Upload attempted before a Monoline or Markel selection exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/agent/umbrella/status:
    post:
      operationId: get_delegated_umbrella_status
      x-openai-isConsequential: false
      summary: Poll the delegated umbrella session so the user can stay in chat.
      description: >
        Returns the current chat-manageable state for the delegated umbrella
        session, including quote selection, bind-stage follow-up questions,
        declarations-upload, declarations-review, payment, waiting-on-carrier,
        info-requested, blocked, and bound states. Chosen and waiting responses
        may include `offers_url` so the user can review the selected offer on
        Coverage Cat without leaving the normal workflow. If the session is
        back at `ready_for_review`, render the same single consent-plus-review
        page described on the draft endpoint. When
        `documents_pending_review` includes `poll_after_seconds`, wait that
        long before polling again unless the user asks for an update sooner.
        PaymentTransition: follow `chosen -> documents_needed ->
        documents_pending_review -> payment_needed -> waiting_on_carrier ->
        bound`. When `payment_needed` is returned, Coverage Cat also returns a
        secure `payment_url`.
        Sandbox delegated umbrella sessions use this endpoint to rehearse the
        mocked draft/review/quote loop after offers are returned.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required:
                - uid
              properties:
                uid:
                  type: string
                sandbox:
                  type: boolean
                  description: >
                    Optional mocked-mode flag. Once a delegated umbrella
                    session is created with `sandbox: true`, later `status`
                    calls may omit it because the uid stays sandbox-scoped.
      responses:
        "200":
          description: Current delegated umbrella status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusResponse'
        "400":
          description: Invalid request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Unknown delegated umbrella session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
